<router-outlet class="app-wrap">
  <div class="app">
    <app-top-panel class="app-top-panel" (onSearch)="onSearch($event)" (onSave)="onSave($event)"></app-top-panel>
    <div class="app-content">
      <div class="app-table-wrap">
        <app-header></app-header>
        <app-table class="app-table" [messages]="this.collection" [activeCellId]="activeCellId"
          (onCellDelete)="onCellDelete($event)" (onCellClick)="onCellClick($event)"
          (updateData)="updateData()"></app-table>
      </div>
      <app-side-panel class="app-side-panel" [data]="this.activeCellData"
        (onUpdate)="onSidepanelUpdate()"></app-side-panel>
    </div>
  </div>
</router-outlet>